.section {
    &--4 {
        .slide {
            &--1 {
                background-image: url('../src/4_1.jpg');
                .slide__content {
                    text-align: center;
                }
            }
            &--2 {
                background-image: url('../src/4_2.jpg');
                .slide__content {
                    text-align: center;
                }
            }
            &--3 {
                background-image: url('../src/4_3.jpg');
                .slide__content {
                    padding: opt(150);
                    display: flex;
                    justify-content: flex-end;
                }
            }
            &--4 {
                background-image: url('../src/4_4.jpg');
                .slide__content {
                    padding: opt(150) opt(90);
                    display: flex;
                    height: 100%;
                    align-items: center;
                }
                .gallery {
                    height: 100%;
                    width: opt(1200);
                    position: relative;

                    &__slide {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center center;
                        &--1 {
                            background-image: url('../src/4_4_1.jpg');
                        }
                        &--2 {
                            background-image: url('../src/4_4_2.jpg');
                        }
                        &--3 {
                            background-image: url('../src/4_4_3.jpg');
                        }
                    }
                }
                .text-container {
                    padding-left: opt(150);
                }
            }
        }
    }
}

@include mobile {
    .section {
        &--4 {
            .slide {
                &--1 {
                    .slide__content {
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        padding: opt(40) opt(20);
                        .text {
                            text-align: center;
                            justify-content: flex-end;
                        }
                    }
                }

                &--2 {
                    background-position: bottom right 15%;
                    .slide__content {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: opt(40) opt(20);
                    }
                }

                &--3 {
                    .slide__content {
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        text-align: center;
                        padding: opt(40) opt(20);
                    }
                }

                &--4 {
                    .slide__content {
                        height: 100%;
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: space-between;
                        padding: 0;
                        padding-bottom: opt(100);
                        padding-top: opt(50);

                        .gallery {
                            width: 100%;
                            height: opt(280);
                        }
                        .text-container {
                            padding: opt(20);
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
