.section {
    &--7 {
        .section__content {
            padding: 0;
            min-height: 100vh;
            min-height: -webkit-fill-available;
            width: 100vw;
            text-align: center;
            // h2 {
            //     font-size: opt(36);
            // }
            // p {
            //     font-size: opt(21);
            // }
            display: flex;
            flex-direction: column;
            gap: opt(40);
            .top-container {
                width: 100%;
                display: flex;
                flex: 1;
                .left-container {
                    width: 30%;
                    padding: opt(100);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: opt(30);
                    img {
                        width: 80%;
                    }
                }
                .right-container {
                    width: 70%;
                    background-size: cover;
                    background-image: url('../src/gallery-map.svg');
                    background-position: center right;
                }
            }

            .bottom-title {
                position: static;
                z-index: 2;
                // padding-bottom: opt(40);
            }
        }
    }
    footer {
        border-top: 1px solid white;
        margin: 0;
        margin-top: opt(60);
        padding-top: opt(20);
        font-size: opt(13);
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .footer-right {
            display: flex;
            gap: opt(40);
            &__row {
                display: flex;
                gap: opt(15);
                align-items: center;
                img {
                    width: 100%;
                }
                .dl {
                    width: opt(35);
                }
                .wisecity {
                    width: opt(115);
                }
                .cnd {
                    width: opt(135);
                }
            }
        }
    }
}

@include mobile {
    .section {
        &--7 {
            background-position: left 23% center;
            .section__content {
                padding: 0;
                justify-content: center;
                min-height: 100vh;
                min-height: -webkit-fill-available;
                flex-direction: column;
                .top-container {
                    display: flex;
                    flex-direction: column;
                    .left-container {
                        width: 100%;
                        padding: opt(20);
                        padding-top: opt(40);
                        flex: 1;
                        img {
                            width: 100%;
                        }
                        .text {
                            text-align: center;
                        }
                        .view-more {
                            margin-bottom: opt(50);
                        }
                    }
                    .right-container {
                        flex: 3;
                        width: 100%;
                        aspect-ratio: 1.52;
                    }
                }

                .text {
                    p {
                        font-size: opt(16);
                    }
                }
                h2 {
                    font-size: opt(24);
                }

                .bottom-title {
                    padding-bottom: opt(20);
                }
            }

            footer {
                font-size: opt(7);
                margin-top: opt(20);
                .footer-left {
                    width: 65%;
                }
                .footer-right {
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: opt(5);
                    &__row {
                        .dl {
                            width: opt(15);
                        }
                        .wisecity {
                            width: opt(60);
                        }
                        .cnd {
                            width: opt(70);
                        }
                    }
                }
            }
        }
    }
}
